IntTeTestat/Service References/GuessServiceReference/GuessService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1701/GuessService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:1701/GuessService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/IntTeTestat.Web.Util" />
  <xs:element name="Conntect">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Guess">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QuitConnect">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="StartGame">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="players" nillable="true" type="q1:ArrayOfstring" />
        <xs:element minOccurs="0" name="playerName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GameOver">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="victory" type="xs:boolean" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/IntTeTestat.Web.Util" minOccurs="0" name="playedValues" nillable="true" type="q2:ArrayOfGuess" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConnectCanceled">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PlayerLeft">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PlayerGuess">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/IntTeTestat.Web.Util" minOccurs="0" name="guess" nillable="true" type="q3:Guess" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>