IntTeTestat/Service References/GuessServiceReference/GuessService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/IntTeTestat.Web.Util" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/IntTeTestat.Web.Util" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfGuess">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Guess" nillable="true" type="tns:Guess" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGuess" nillable="true" type="tns:ArrayOfGuess" />
  <xs:complexType name="Guess">
    <xs:sequence>
      <xs:element name="Name" nillable="true" type="xs:string" />
      <xs:element name="Tipp" type="tns:GuessTipp" />
      <xs:element name="Value" nillable="true" type="xs:anyType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Guess" nillable="true" type="tns:Guess" />
  <xs:simpleType name="GuessTipp">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ToLow" />
      <xs:enumeration value="ToHeight" />
      <xs:enumeration value="Correct" />
      <xs:enumeration value="Others" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="GuessTipp" nillable="true" type="tns:GuessTipp" />
</xs:schema>